:root{
/*Font  */
    --font-famili:'Poppins',sans-serif;
/* Color */
    --main-light:#FFF;
    --main-dark:#000;
    --main-color:#8F95A5;

    --secondary-color:#263238;
    --accent-color:#939393;
/* Skills */    
    --card-bcg: #F5F5F5; 
/* About us */
    --counter-color:#2A3246;
/* Pricing */
    --badge-bgc:#EEEEEE;
    --badge-color: #546269;
/* Line */
    --border-color:#C4C4C4;

}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}
/* Common styles */
body{
    font-family:var(--font-famili);
    color: var(--main-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.container{
    width: 1354px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.list{
    list-style: none;
 }
.link{
    text-decoration: none;
    font-family: inherit;
}
.button{
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}
.section{
    
}
.section-title{
    font-weight: 600;
    font-size: 48px;
    color: var(--main-dark);

    line-height: 1.67;
}
.accent{
    color: var(--accent-color);
}
                                /* Header */

.header {
    padding-top: 58px; ;
    padding-bottom: 48px ;
   
}
.header-container{
    display: flex;
    align-items: center;

}

.logo {
    margin-right: 253px;
    font-size: 36px;
    color:var(--main-dark);

    line-height: 1.5;
}

.nav .nav-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    min-width: 517px;
}
.nav-item{
    
}
.nav-link {
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-color);
    text-transform: capitalize;

    line-height: 1.5;
}
.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.header-btn {
    display: flex;
    margin-left: auto;
    padding: 17px 57px;
   
    font-size: 24px;
    line-height: 1.5;
    text-transform: capitalize;

    color: var(--main-dark);
    background-color: var(--main-light);

    border: 2px solid var(--secondary-color);
    border-radius: 5px; ;
}

.header-btn:hover,
.header-btn:focus {
    color: var(--main-light);
    background-color: var(--secondary-color);
}


/* Hero */
.hero-section{
    padding-bottom: 57px;
}
.hero-container{
    position: relative;

}
.hero-title {
    width: 387px;
    padding-top: 50px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: var(--main-dark);
}

.hero-description {
    width: 520px;
    margin-bottom: 61px;
    font-size: 24px;
    line-height: 1.5;
    color:var(--main-color);
}

.hero-btn {
    display: flex;
    padding: 32px 117px;

    font-size: 36px;
    line-height: 1.5;
    color:var(--main-light);

    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    border-radius: 15px;
}
.hero-img{
    position: absolute;
    right: 0;
    top: 0;
    
}
/* .hero-btn:hover,
.hero-btn:focus{
    color: var(--secondary-color);
    background-color: var(--main-light);
} */
/* Skills */
.skills{
    text-align: center;
    margin-bottom: 142px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.skills-item {
    background: var(--card-bcg);
    border-radius: 10px;
}
.speaking-card{
    max-width: 434px;
    max-height: 894px;
}
.speaking-img{
    padding: 35px 22px 0px 22px;
}
.speaking-description{
    padding: 5px 45px 92px 43px;
    
}
.text-first{
    margin-bottom: 29px;
}
.text-second{
    margin-bottom: 36px;
}
.writing-card{
    position: relative;
    max-width: 434px;
    max-height: 531px;

}
.writing-img{
    position: relative;
    right: 19px;
    top: 0px;
   
}
.reading-card{
    max-width: 434px;
    max-height: 532px;
}
.listening-card{
    max-width: 885px;
    max-height: 343px;
}

.skills-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 2.67;
    color: var(--secondary-color);
}

.scills-text {
    line-height: 1.5;
}

.skills-btn {
    padding: 15px 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;

    color: var(--main-light);
    
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
    border-radius: 5px;
}
.skills-btn:hover,
.skills-btn:focus,
.hero-btn:hover,
.hero-btn:focus{
    color: var(--secondary-color);
    background-color: var(--main-light);
}
/* About Us */
.text-description {
    font-size: 20px;
    line-height:1.5;
    
}
/* Prising */
.price-list {
    padding-left: 0;
}

.lesson-title {
     font-weight: 600;
    font-size: 30px;
    line-height: 1.6;

    color:var(--secondary-color);
}

.lesson-text {
    font-size: 20px;
    line-height: 1.5;

}
.price-text{
    font-size: 18px;
    line-height: 1.5;
    color: var(--badge-color);
    background: var(--badge-bgc);
    border-radius: 5px;
}
.price-money {
    font-size: 30px;
    line-height: 1.5;
    color: var(--secondary-color);

}
/* Contact us */
.contact-text {
    font-size: 20px;
    line-height: 1.5;
}
/* Footer */
.footer-text{
    font-size: 24px;
    line-height: 1.5;
}